body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.button {
    display: flex;
    justify-content: right;
    margin-right: 25px;
    position: absolute;
    right: 0;
}
.button a{
    text-decoration: none;
   border: none;
}
.button a:hover{
    color: black;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
p {
    margin-bottom: 10px;
}
.highlight {
    color: #007bff;
    font-weight: bold;
}
.project {
    margin-bottom: 20px;
    border-left: 4px solid #007bff;
    padding-left: 10px;
}
.experience {
    margin-bottom: 20px;
}
.achievement {
    margin-bottom: 20px;
}
/* .contact{
    text-align: center;
} */
.contact a {
    color: #007bff;
    text-decoration: none;
}


#skills ul li{
    list-style: circle;
}